.navbar__logo, .navbar__menu, .navbar__menu--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  background: #f7f7f7;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  z-index: 10;
  position: relative;
}

.navbar__logo {
  color: #222121;
  cursor: pointer;
  margin-left: 24px;
}

.navbar__bars {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .navbar__bars {
    color: #222121;
    opacity: 1;
    position: absolute;
    top: 22px;
    right: 20px;
    font-size: 2rem;
  }
}

.navbar__menu {
  list-style: none;
  text-align: center;
  margin-right: 24px;
}

@media screen and (max-width: 768px) {
  .navbar__menu {
    display: none;
  }
}

.navbar__menu--links {
  color: #222121;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
}

.navbar__menu--links:hover {
  color: #E9A925;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar__menu #button {
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #E9A925;
  margin-left: 16px;
  color: #f7f7f7;
}

.navbar__menu #button:hover {
  background: #E9A925;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

.hero {
  background-color: #f7f7f7;
}

.hero__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin: 0 auto;
  height: 90vh;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  padding-right: 24px;
  padding-left: 24px;
}

@media screen and (max-width: 768px) {
  .hero__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: 100%;
  }
}

.hero__container--left {
  width: 100%;
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
  .hero__container--left {
    padding: 5rem 0;
  }

  .gallery{
    grid-template-columns: 1fr 1fr;
}

.gallery_picture::before{
    font-size: 1rem;
}
}

@media screen and (max-width: 280px) {
  .hero__container--left {
    line-height: 1.5;
  }
}

.hero__container--left h1 {
  font-size: 4rem;
  color: #E9A925;
}

@media screen and (max-width: 280px) {
  .hero__container--left h1 {
    font-size: 1.5rem;
  }
}

.hero__container--left h2 {
  font-size: 4rem;
  color: #222121;
}

@media screen and (max-width: 280px) {
  .hero__container--left h2 {
    font-size: 2rem;
  }

  
}

.hero__container--left p {
  font-size: 2rem;
  color: #222121;
  margin-top: 1rem;
  font-weight: 700;
}

@media screen and (max-width: 280px) {
  .hero__container--left p {
    font-size: 1.5rem;
  }
}

.hero__container--btn {
  font-size: 1rem;
  background-color: #E9A925;
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #f7f7f7;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
}

.hero__container--btn a {
  position: relative;
  z-index: 2;
  color: #f7f7f7;
  text-decoration: none;
}

.hero__container--btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #28D16C;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
}

.hero__container--btn:hover:after {
  width: 100%;
}

.hero__container--right {
  text-align: center;
}

.hero__container--img {
  height: 100%;
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */



.gallery{
  padding-bottom: 3em;
  padding-top: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  "img1 img2 img2"
  "img1 img2 img2"
  "img3 img4 img5"
  "img6 img6 img7"
  "img6 img6 img7"
  "img8 img8 img9"
  "img8 img8 img9"
  ;
  gap: 1em;
}


.gallery_picture{
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.gallery_picture::before{
  content: "";
  transition: transform.2s;
  transform: scaleY(0);

}

.gallery_picture:hover::before{
  content: "MÉXICO";
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 400;
  position: absolute;
  background-color: rgba(233, 169, 37, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  left: 0;
  right: 0;
transform: scaleY(1);
}

.gallery_picture--g1{
  grid-area: img1;
}

.gallery_picture--g2{
  grid-area: img2;
}

.gallery_picture--g3{
  grid-area: img3;
}
.gallery_picture--g4{
  grid-area: img4;
}
.gallery_picture--g5{
  grid-area: img5;
}

.gallery_picture--g6{
  grid-area: img6;
}

.gallery_picture--g7{
  grid-area: img7;
}

.gallery_picture--g8{
  grid-area: img8;
}

.gallery_picture--g9{
  grid-area: img9;
}



.gallery_img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}


.home .carousel-item{
	min-height: 100vh;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 1;
}
.home .carousel-item:before{
	content: '';
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: -1;
}
.home .carousel-item .container{
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.home .carousel-item h2{
	font-size: 80px;
	color: #ffffff;
	margin:0 0 10px;
	opacity: 0;
}
.home .carousel-item p{
	font-size: 30px;
	margin:0;
	color: #eeeeee;
	opacity:0;
}
.home .carousel-item.active h2{
	animation: fadeInLeft 0.5s ease forwards;
}
.home .carousel-item.active p{
	animation: fadeInRight 0.5s ease forwards;
}

@keyframes fadeInLeft{
	0%{
		opacity: 0;
		transform: translateX(-30px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}
@keyframes fadeInRight{
	0%{
		opacity: 0;
		transform: translateX(30px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}

.home .carousel-controls{
	position: absolute;
	left: 50%;
	bottom: 40px;
	z-index: 10;
	transform: translateX(-50%);
}

.home .carousel-indicators{
	position: relative;
	margin:0;
}

.home .carousel-indicators li{
	height: 70px;
	width: 70px;
	margin:0 5px;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
	border:3px solid transparent;
	transition: all 0.3s ease;
}
.home .carousel-indicators li.active{
	border-color: #ffffff;
	transform: scale(1.2);
}

.home .carousel-control-next, 
.home .carousel-control-prev{
	height: 60px;
	width: 60px;
	opacity: 1;
	z-index: 3;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	transition: all 0.3s ease;
}
.home .carousel-control-next:hover, 
.home .carousel-control-prev:hover{
   box-shadow: 0 0 10px #ffffff;
}
.home .carousel-control-next img, 
.home .carousel-control-prev img{
   width: 30px;
}
.home .carousel-control-next{
	right: -90px;
}
.home .carousel-control-prev{
	left: -90px;
}

/*responsive*/
@media(max-width: 767px){
  .home .carousel-control-next, 
  .home .carousel-control-prev{
  	display: none;
  }
  .home .carousel-indicators li{
  	height: 60px;
  	width: 60px;
  }
  .home .carousel-item h2{
  	font-size: 45px;
  }
  .home .carousel-item p{
  	font-size: 22px;
  }
}

/*# Contacto */

h2{
  color: #E9A925;
}

form{
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}

textarea {
min-height: 100px;
max-height: 200px;
max-width: 100%;
}

#boton{
  background: #E9A925;
  color: #eeeeee;
  padding: 20px;
}

#boton:hover {
  cursor: pointer;
}

@media (max-width: 480px) {
  form{
    width: 100%;
  }
}

body {
  background-image: url(/images/fondo.png);
  background-size: cover;
  background-position: center;
}